@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>ACCESS DENIED. NO.</h1>
<p>Try logging in with an admin account to view this page.</p>