@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using epicodus_dotnet_rpg.ViewModels;
@model ManageUserRolesViewModel

@using (Html.BeginForm())
{
    <input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId"/>
    @ViewBag.UserName
    <select id="RoleName" name="RoleName">
        @foreach(var role in ViewBag.Roles)
        {
            <option value=@role.Name>@role.Name</option>
        }
    </select>
    <button type="submit">Submit</button>
}